{% extends "base.html.twig" %}

{% block title %}Ajout d'un computer{% endblock %}

{% block body %}
<h1 class="text-center text-dark mt-5">Page d'ajout d'un computer</h1>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
                {{ message }}
    </div>
{% endfor %}

{{ form_start(form, {'attr': {'class': 'w-50 m-5'}})}}

<div class="mb-3">
  {{ form_widget(form)}}
</div>

<div class="mb-3">
 {# {{ form_widget(form.submit, {'label':'AddDepartement'})}} #}

</div>

{{ form_end(form)}}

{% endblock %}
