{% extends "base.html.twig" %}

{% block title %}Ajout d'un computer{% endblock %}

{% block body %}
<h1 class="text-center text-dark mt-5">Ajouter un domaine dont le nom de département est : {{domaine}}</h1>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
                {{ message }}
    </div>
{% endfor %}

{{ form_start(form, {'attr': {'class': 'w-50 m-5'}})}}

<div class="mb-3">
  {{ form_label(form.model)}}
  {{ form_widget(form.model)}}
</div>
<div class="mb-3">
  {{ form_label(form.system)}}
  {{ form_widget(form.system)}}
</div>
<div class="mb-3">
  {{ form_label(form.purchase)}}
  {{ form_widget(form.purchase)}}
</div>



{{ form_end(form)}}

{% endblock %}
